blynklib
certifi
cffi
charset-normalizer
colorama
contourpy
cryptography
cvlib
cycler
filelock
fonttools
fsspec
idna
imageio
imutils
Jinja2
kiwisolver
MarkupSafe
matplotlib
mpmath
ndg-httpsclient
networkx
numpy
opencv-python
packaging
pandas
Pillow
pip
progressbar
psutil
py-cpuinfo
pyasn1
pycparser
pyOpenSSL
pyparsing
python-dateutil
pytz
PyYAML
requests
scipy
seaborn
setuptools
six
sympy
thop
torch
torchvision
tqdm
typing_extensions
tzdata
ultralytics
urllib3
opencv-python-headless